Source: squibby-build-deps
Section: misc
Priority: extra
Maintainer: Pantelis Koukousoulas <pktoss@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://github.com/squibbylinux/squibby-build-deps
#Vcs-Git: http://github.com/squibbylinux/squibby-build-deps

Package: squibby-build-deps
Architecture: all
Depends: ${misc:Depends},
 debhelper (>= 8.0.0),
 dpkg-dev,
 perl,
 xkb-data,
 lsb-release,
 desktop-file-utils,
 debootstrap,
 rsync,
 python,
 procps,
 squashfs-tools (>= 1:3.3-1),
 grep-dctrl,
 fdupes,
 lzma,
 germinate ( >= 1.25.1),
 apt-utils,
 gnupg,
 live-build (>= 3.0~a24-1ubuntu33~squibby0.1),
 apt-cacher-ng
Recommends: syslinux-themes-squibby, gfxboot-theme-ubuntu, memtest86+, genisoimage, syslinux
Suggests: partimage
Description: Dependencies for building LiveCDs
 This metapackage collects the dependencies required for
 building ubuntu-derivative Live CDs.
